<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<meta charset="UTF-8">
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
<title>Lite Interactive Stat Plot</title>
<!--Stylesheets-->
<link rel = "stylesheet" href = "{% static 'css/home.css' %}">
<link rel = "stylesheet" href = "{% static 'css/graph.css' %}"> 

<!--Scripts-->
<script src="{% static 'javascript/stat.js' %}"></script>
</head>

<body> 
    {% block content %}


    {% endblock %}
</body>
</html>
