{% extends 'base.html' %}
{% block content %}
<div class="navbar">
    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="bi bi-wrench-adjustable"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Functions Tab</a>
        </div>
      </div>
      <a href="{% url 'plot:plot' %}" class="btn btn-dark">+</a>
</div>
</div>

<div class="dataTab">
    <h2>Upload CSV To Get Started!</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
{% if graph %}
<div class="inputTab">
    <h3> Enter your Variables Here!</h3>
    {% csrf_token %}
    {{ variables_form.as_p }}
    </div>
{% endif %}
{% if graph %}
<div class="statdata">
    <h2>Data Table</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                {% for column in data.0.keys %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for value in row.values %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 
{% endif %}
<div class="graph"> 
{% if graph %}
<img src="data:image/png;base64,{{ graph }}" alt="Graph">
{% endif %}
</div> 
{% endblock %}