{% extends 'base.html' %}
{% block content %}
<div class="navbar">
    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="bi bi-wrench-adjustable"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Functions Tab</a>
        </div>
      </div>
      <a href="{% url 'plot:plot' %}" class="btn btn-dark">+</a>
</div>
</div>

<div class="dataTab">
    <h1>Upload CSV and Generate Graph</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
{% if graph %}
<div class="statdata">

</div> 
{% endif %}
<div class="graph"> 
{% if graph %}
<img src="data:image/png;base64,{{ graph }}" alt="Graph">
{% endif %}
</div> 
{% endblock %}